.newline {
  clear:both;
}

.empty, .wall, .player, .weapon, .enemy, .health, .teleport, .dark, .shop, .shopkeeper, .shopcounter {
  width: 25px;
  height: 25px;
  float: left;
}

.boss1, .boss2, .boss3, .boss4, .boss5, .boss6, .boss7, .boss8, .boss9, .boss10, .boss11, .boss12, .boss13, .boss14, .boss15, .boss16 {
  width: 25px;
  height: 25px;
  float: left;
}

.empty {
  content: url("./img/floor2.png");
}

.wall {
  content: url("./img/wall3.png");
}

.player {
  content: url("./img/hero.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.weapon {
  content: url("./img/powerup.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.enemy {
  content: url("./img/enemy2.gif");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.health{
  content: url("./img/hp.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.teleport{
  content: url("./img/portal.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.shop {
  content: url("./img/floor3.2.jpg");
}

.shopkeeper {
  content: url("./img/shopkeeper2.png");
  background-image: url("./img/floor3.2.jpg");
  background-size: cover;
} 

.shopcounter {
  content: url("./img/wood2.png");
} 

.boss1 {
  content: url("./img/boss1.1.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss2 {
  content: url("./img/boss1.2.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss3 {
  content: url("./img/boss1.3.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss4 {
  content: url("./img/boss1.4.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss5 {
  content: url("./img/boss1.5.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss6 {
  content: url("./img/boss1.6.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss7 {
  content: url("./img/boss1.7.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss8 {
  content: url("./img/boss1.8.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss9 {
  content: url("./img/boss1.9.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss10 {
  content: url("./img/boss1.10.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss11 {
  content: url("./img/boss1.11.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss12 {
  content: url("./img/boss1.12.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss13 {
  content: url("./img/boss1.13.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss14 {
  content: url("./img/boss1.14.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss15 {
  content: url("./img/boss1.15.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.boss16 {
  content: url("./img/boss1.16.png");
  background-image: url("./img/floor2.png");
  background-size: cover;
}

.dark {
  background-color: black;
}

.gameArea {
  display: inline-flex;
  width: 100%;
}

.gameInfo {
  width: 20%;
  padding-right: 10px;
  padding-bottom: 10px;
}

.gameInfo div {
  padding-top: 15px;
  padding-bottom: 5px;
}

.gameInfo button {
  margin-top: 10px;
  margin-right: 5px;
}

.gameMap {
  width: 80%;
  margin: 20px auto;
}

.btn {
  background-color: #e7e7e7;
  border: none;
  color: black;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.settings {
  margin-bottom: 15px;
}

.settings label {
  padding-right: 10px;
}
