@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0 auto;
  max-width: 90%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 2em 1em;
  color: #555;
}

h1,
h2 {
  color: #333;
  font-weight: 300;
}

a {
  color: #1c96e8;
  text-decoration: none;
}

.route-content {
  border-bottom: 1px solid #333;
}

.vertical-menu {
  padding: 10px 0;
  margin: 0 -15px;
}

.vertical-menu li {
  display: inline-flex;
  padding: 0 15px;
}

.leaderboard {
  margin-bottom: 20px;
  overflow-x: auto;
}

.leaderboard table {
  width: 100%;
}

th, strong {
  font-weight: 500;
}

td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}
